@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg2);
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --ffam: 'Caesar Dressing';
    --bg: #000;
    --bg2: #333;
    --bg3: #171717;
    --fg: #beaf8d;
    --optbarw: 15vw;
    --neg-optbar-w: -15vw;
}

*{
    font-family: var(--ffam);
    color: var(--fg);
    transition: 200ms;
    user-select: none;
}

button{
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--fg);
    color: var(--bg);
}

/* logreg form */

.logreg-form{
    width: 25vw;
    /* background-color: red; */
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.logreg-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

.logreg-form form input, .logreg-form form button{
    width: 50%;
    box-sizing: border-box;
    padding: 1.5vh 2vh;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.logreg-form form input{
    border: 2px solid var(--fg);
    background-color: transparent;
    color: var(--fg);
}

.logreg-form form button{
    font-size: 1.5rem;
}

.logreg-form form button:disabled{
    filter: saturate(0);
}

.logreg-form form button:hover{
    filter: brightness(1.1);
}

.logreg-form form button:hover:disabled{
    filter: saturate(0);
}

.logreg-form .msg{
    margin: .5vw 0;
    color: #d4040d;
    font-size: 1.5rem;
}

.logreg-form a{
    font-size: 1rem;
    margin-top: 3vh;
    text-decoration: none;
}

/* logreg title box */

.title-box{
    position: absolute;
    transform: translate(-50%, -0%);
    inset: 15% auto auto 50%;
    /* background-color: blue; */
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.title-box .title{
    font-size: 8rem;
}

/* actual game, shop first */
.frame{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.shop{
    height: 100vh;
    width: 20vw;
    box-sizing: border-box;
    padding: 1vw 2vw;
    border-right: 2px solid var(--fg);
    position: relative;
    background-color: var(--bg2);
    transform: translateX(0%);
    z-index: 10;
}

.shop-list{
    overflow-y: auto;
    max-height: 80vh;
}

.shop .opener{
    background-color: var(--bg2);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    padding: 1vw .5vw;
    border: 2px solid var(--fg);
    border-left: none;
    width: 2vw;
    position: absolute;
    inset: 50% 0% auto auto;
    transform: translate(100%, -50%);
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;
}

.shop .opener span{
    font-size: 2vw;
}

.shop .title{
    font-size: 3rem;
    margin-bottom: 5vh;
}

.shop .checkout{
    width: calc(100% - 4vw);
    aspect-ratio: 7;
    font-size: 1.75rem;
    position: fixed;
    inset: auto auto 0% 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.shop .banner{
    width: 100%;
    background-color: var(--fg);
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 1rem;
    position: relative;
    margin: 2vh 0;
}

.shop .banner *{
    color: var(--bg);
}

.shop .banner .section-title{
    font-size: 2rem;
}

.shop .banner .icon{
    position: absolute;
    inset: auto 0.5vh 0.5vh auto;
}

.shop .banner .icon span{
    font-size: 3rem;
}

.shop .offers{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.shop .offers .offer{
    background-color: var(--bg2);
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 1vw 0.5vw;
    box-sizing: border-box;
    border-radius: 1rem;
    cursor: pointer;
}

.shop .offers .offer:hover{
    filter: brightness(1.1);
}

/* canvas */

.canvas{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.canvas .top-info{
    position: absolute;
    inset: 0% 0% auto auto;
    padding: .5vw 1vw;
    border-left: 2px solid var(--fg);
    border-bottom: 2px solid var(--fg);
    display: flex;
    flex-direction: column;
    gap: .5vh;
    border-radius: 0 0 0 1rem;
}

.canvas .top-info div, .shop .offers .offer div{
    display: flex;
    justify-content: start;
    gap: 1vh;
    align-items: center;
    font-size: 1.4rem;
}