{% extends "base.html" %}

{% block content %}

<audio id="music" nocontrols loop>
    <source src="{{url_for('static', filename='gameplay/assets/music/soundtrack.mp3')}}" type="audio/mpeg">
</audio>

<script>
    const music = document.getElementById("music");
    const enableMusic = () => {
        music.play().catch(console.warn);
        document.removeEventListener("click", enableMusic);
        document.removeEventListener("keydown", enableMusic);
    };
    document.addEventListener("click", enableMusic);
    document.addEventListener("keydown", enableMusic);
</script>

<!-- content -->

<div class="frame">
    <div class="shop" data-visible="false">
        <div class="opener">
            <span class="material-symbols-rounded" onmousedown="toggleShop()">storefront</span>
        </div>
        <div class="shop-title">Shop</div>

        <div class="shop-list">
            {% for cat in data["products"] %}
                <div class="banner">
                    {% set split_name = cat[0].split("|") %}
                    <div class="section-title">{{ split_name[0] }}</div>
                    <div class="icon">
                        <span class="material-symbols-rounded">{{ split_name[1] }}</span>
                    </div>
                </div>
                <div class="offers">
                    {% for offer in cat[1] %}
                    <div class="offer" data-name="{{offer['name']}}" data-price="{{offer['price']}}" onmousedown="toCart(this)">
                        <div class="name">{{offer["name"]}}</div>
                        <div class="price">{{offer["price"]|int}} <span class="material-symbols-rounded">diamond</span></div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="cart" data-visible="false">
            <div class="clear-cart" onmousedown="clearCart()">warenkorb leeren</div>
            <div class="products">
            </div>
        </div>

        <button class="checkout" onmousedown="toggleCart()">Zur Kasse</button>
        <button class="buy" onmousedown="buyCart()">Kaufen</button>
    </div>
    <div class="canvas">
        <div class="title-box">
            <div class="title">Oger Map</div>
            <!-- <div class="subtitle">"Baue, kämpfe und herrsche in einem chaotischen Ogerreich!"</div> -->
        </div>

        <div class="top-info">
            <div class="nick">{{data["nick"]}}</div>
            <div class="diamonds"><span class="diacount">{{data["diamonds"]}}</span> <span class="material-symbols-rounded">diamond</span></div>
            <div class="nick">{{data["xp"]}} XP</div>
        </div>
        <div class="bottom-info">
            <img src="{{url_for('static', filename='gameplay/assets/gif/music.gif')}}" alt="">
            <div class="song-name">Medieval tavern ambient - DeusLower</div>
        </div>

        <img src="{{url_for('static', filename='gameplay/assets/img/map_bw.png')}}" class="map-bg">

        <div class="map">
            <!-- <div class="area">
                <div class="button">
                    <div class="area-icon">
                        <span class="material-symbols-rounded">stadia_controller</span>
                    </div>
                </div>
                <div class="area-name">Sumpfdorf</div>
            </div> -->
            {% for area in data["map"] %}
                {% if data["xp"] < area["minimum_xp"] %}
                    <div class="area locked">
                        <div class="button">
                            <div class="area-icon">
                                <span class="material-symbols-rounded">lock</span>
                            </div>
                        </div>
                        <div class="area-name">{{area["name"]}}</div>
                        <div class="area-xp">{{area["minimum_xp"]}} XP</div>
                    </div>
                {% else %}
                    <div class="area">
                        <div class="button">
                            <div class="area-icon">
                                <span class="material-symbols-rounded">stadia_controller</span>
                            </div>
                        </div>
                        <div class="area-name">{{area["name"]}}</div>
                        <div class="area-xp">{{area["minimum_xp"]}} XP</div>
                    </div>
                {% endif%}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}