{% extends "base.html" %}

{% block content %}
<div class="frame">
    <div class="shop" data-visible="true">
        <div class="opener">
            <span class="material-symbols-rounded" onmousedown="toggleShop()">storefront</span>
        </div>
    </div>
    <div class="canvas">
        <div class="top-info">
            <div class="nick">nickname here</div>
            <div class="diamonds">100 <span class="material-symbols-rounded">diamond</span></div>
        </div>
    </div>
</div>
{% endblock %}